In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../ML/WA_Fn-UseC_-HR-Employee-Attrition.csv')

In [5]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [7]:
df['Department'].value_counts()
#bir bir columns bele yoxlayiriq

Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

In [9]:
df.drop(['EducationField', 'EmployeeNumber', 'EmployeeCount', 'JobRole', 'Over18'], axis = 1, inplace = True)

In [11]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [41]:
X = pd.get_dummies(df.drop("Attrition", axis = 1))
y = df['Attrition']
#!!!!!!!!!!!!! Pay attention

In [43]:
X.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'BusinessTravel_Non-Travel', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Human Resources',
       'Department_Research & Development', 'Department_Sales',
       'Gender_Female', 'Gender_Male', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'OverTime_No',
       'OverTime_Yes'],
      dtype='object')

In [45]:
X.drop(['Gender_Male', 'BusinessTravel_Travel_Rarely', 'Department_Human Resources', 'MaritalStatus_Single', 'OverTime_No'], axis = 1, inplace = True)

In [47]:
X.shape

(1470, 32)

In [49]:
#Standart scale - not categorical variables

In [51]:
import pandas as pd
from sklearn.preprocessing import StandardScaler


# Identify numeric and categorical columns
numeric_cols = X.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = X.select_dtypes(exclude=['int64', 'float64']).columns

# Initialize scaler
scaler = StandardScaler()

# Scale numeric columns only
X_scaled_numeric = pd.DataFrame(scaler.fit_transform(X[numeric_cols]),
                                columns=numeric_cols,
                                index=X.index)

# Keep categorical columns as they are
X_categorical = X[categorical_cols].copy()

# Combine back
X_scaled = pd.concat([X_scaled_numeric, X_categorical], axis=1)

print(X_scaled.head())

        Age  DailyRate  DistanceFromHome  Education  EnvironmentSatisfaction  \
0  0.446350   0.742527         -1.010909  -0.891688                -0.660531
1  1.322365  -1.297775         -0.147150  -1.868426                 0.254625
2  0.008343   1.414363         -0.887515  -0.891688                 1.169781
3 -0.429664   1.461466         -0.764121   1.061787                 1.169781
4 -1.086676  -0.524295         -0.887515  -1.868426                -1.575686

   HourlyRate  JobInvolvement  JobLevel  JobSatisfaction  MonthlyIncome  ...  \
0    1.383138        0.379672 -0.057788         1.153254      -0.108350  ...
1   -0.240677       -1.026167 -0.057788        -0.660853      -0.291719  ...
2    1.284725       -1.026167 -0.961486         0.246200      -0.937654  ...
3   -0.486709        0.379672 -0.961486         0.246200      -0.763634  ...
4   -1.274014        0.379672 -0.961486        -0.660853      -0.644858  ...

   YearsSinceLastPromotion  YearsWithCurrManager  BusinessTravel_Non-Travel  \
0                -0.679146              0.245834                      False
1                -0.368715              0.806541                      False
2                -0.679146             -1.155935                      False
3                 0.252146             -1.155935                      False
4                -0.058285             -0.595227                      False

   BusinessTravel_Travel_Frequently  Department_Research & Development  \
0                             False                              False
1                              True                               True
2                             False                               True
3                              True                               True
4                             False                               True

   Department_Sales  Gender_Female  MaritalStatus_Divorced  \
0              True           True                   False
1             False          False                   False
2             False          False                   False
3             False           True                   False
4             False          False                   False

   MaritalStatus_Married  OverTime_Yes
0                  False          True
1                   True         False
2                  False          True
3                   True          True
4                   True         False

[5 rows x 32 columns]

In [53]:
from sklearn.preprocessing import OneHotEncoder

# For newer scikit-learn versions (>=1.2)
encoder = OneHotEncoder(drop='first', sparse_output=False)
encoded_cats = encoder.fit_transform(X_categorical)

# Convert to DataFrame
encoded_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out(categorical_cols))

# Combine with scaled numeric features
X_final = pd.concat([X_scaled_numeric, encoded_df], axis=1)

In [89]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=42)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

In [37]:
#y = y.map({'Yes': 1, 'No': 0})

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_final, y, test_size=0.2, random_state=42, stratify=y
)

In [105]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

# Train model
log_model = LogisticRegression(max_iter=1000, class_weight='balanced', random_state=42)
log_model.fit(X_train, y_train)

# Predictions
y_pred_log = log_model.predict(X_test)

# Metrics
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_log))

Logistic Regression Accuracy: 0.7619047619047619

In [107]:
y.value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [69]:
from sklearn.tree import DecisionTreeClassifier

# Train model
dt_model = DecisionTreeClassifier(class_weight='balanced', random_state=42)
dt_model.fit(X_train, y_train)

# Predictions
y_pred_dt = dt_model.predict(X_test)

# Metrics
print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred_dt))

Decision Tree Accuracy: 0.782312925170068

In [73]:
# Create a numeric copy of y for XGBoost
y_xgb = y.map({'Yes': 1, 'No': 0})

# Check it
print(y_xgb.value_counts())

Attrition
0    1233
1     237
Name: count, dtype: int64

In [99]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier

# Split using y_xgb
X_train_xgb, X_test_xgb, y_train_xgb, y_test_xgb = train_test_split(
    X_final, y_xgb, test_size=0.2, random_state=42, stratify=y_xgb
)

# Compute scale_pos_weight
scale = y_train_xgb.value_counts()[0] / y_train_xgb.value_counts()[1]

# Train XGBoost
xgb_model = XGBClassifier( eval_metric='logloss', use_label_encoder=False, scale_pos_weight=scale, random_state=42 )

xgb_model.fit(X_train_xgb, y_train_xgb)

# Predict
y_pred_xgb = xgb_model.predict(X_test_xgb)

C:\Users\ehmed\AppData\Roaming\Python\Python312\site-packages\xgboost\training.py:183: UserWarning: [19:58:28] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [101]:
print("XGBoost Accuracy:", accuracy_score(y_test_xgb, y_pred_xgb))

XGBoost Accuracy: 0.8605442176870748

In [81]:
from lightgbm import LGBMClassifier

# Train model
lgb_model = LGBMClassifier(class_weight='balanced', random_state=42)
lgb_model.fit(X_train, y_train)

# Predictions
y_pred_lgb = lgb_model.predict(X_test)

# Metrics
print("LightGBM Accuracy:", accuracy_score(y_test, y_pred_lgb))

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 190, number of negative: 986
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000413 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1130
[LightGBM] [Info] Number of data points in the train set: 1176, number of used features: 31
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=-0.000000
[LightGBM] [Info] Start training from score -0.000000
LightGBM Accuracy: 0.8401360544217688

In [103]:
from sklearn.metrics import classification_report, accuracy_score

# Convert numeric predictions to original labels
y_pred_xgb_str = pd.Series(y_pred_xgb).map({1: 'Yes', 0: 'No'})

# Generate metrics
print("XGBoost Accuracy:", accuracy_score(y_test, y_pred_xgb_str))
print("\nClassification Report for XGBoost:")
print(classification_report(y_test, y_pred_xgb_str))

XGBoost Accuracy: 0.8605442176870748

Classification Report for XGBoost:
              precision    recall  f1-score   support

          No       0.88      0.96      0.92       247
         Yes       0.62      0.32      0.42        47

    accuracy                           0.86       294
   macro avg       0.75      0.64      0.67       294
weighted avg       0.84      0.86      0.84       294