In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df = pd.read_csv('../ML/turboaz - turboaz.csv')

In [3]:
df = df[['Yurush', 'Qiymet', 'Buraxilish ili']].copy()

In [4]:
def convertPrice(col): 
    words = col.split()
    price = int(words[0])

    if '$' in col:
        price = price *1.7
    
    return price

In [5]:
def clearYurush (col):
    col = col.replace(' ','')[:-2]
    return int(col)

In [6]:
df['ActualPrice'] = df['Qiymet'].apply(convertPrice)

In [7]:
df['ActualYurush'] = df['Yurush'].apply(clearYurush)

In [8]:
df.drop(['Yurush', 'Qiymet'], axis = 1, inplace =True)

In [9]:
df

      Buraxilish ili  ActualPrice  ActualYurush
0               1999      12500.0        366000
1               2014      53550.0        102000
2               2002      11700.0        469700
3               1998       9700.0        556680
4               2000      12700.0        300000
...              ...          ...           ...
1323            1996       8800.0        325000
1324            1994       6300.0        280000
1325            1998      10900.0        272000
1326            2000      11300.0        207000
1327            1996      10500.0        255700

[1328 rows x 3 columns]

In [10]:
df = df[['Buraxilish ili', 'ActualYurush', 'ActualPrice']].copy()

In [11]:
'''yurush_mean = df['ActualYurush'].mean()
yurush_std = df['ActualYurush'].std()

price_mean = df['ActualPrice'].mean()
price_std = df['ActualPrice'].std()

buraxilish_mean = df['Buraxilish ili'].mean()
buraxilish_std = df['Buraxilish ili'].std()

df_copy = df.copy()
df['ActualYurush'] = (df['ActualYurush'] - yurush_mean)/ (yurush_std)
df['ActualPrice'] = (df['ActualPrice'] - price_mean)/(price_std)
df['Buraxilish ili'] = (df['Buraxilish ili'] - buraxilish_mean)/(buraxilish_std)
'''
X = df[['Buraxilish ili', 'ActualYurush']]
y = df['ActualPrice']

In [12]:
X.shape

(1328, 2)

In [158]:
class LinearRegression1:
    def __init__(self, alpha=0.1, n_iter = 1000, normalize = True):
        self.alpha = alpha
        self.n_iter = n_iter
        self.coef_ = None
        self.normalize = normalize 
        self.bias = None
    def costFunction(self,X, Y, W):
        return np.sum((X.dot(W) - Y)**2)/(2*len(X))

    def _standardize(self, X):
        self.mean_ = np.array(X.mean(axis = 0))
        self.std_ = np.array(X.std(axis = 0))
        self.std_[self.std_ == 0] = 1 #note: prevent division by zero
        return (X - self.mean_)/self.std_
        
    def fit(self, X, Y):
        if self.normalize == True:
            X = self._standardize(X)
        X_ = np.c_[np.ones(len(X)), X]
        W = np.array([random.randint(1, 100)] * X_.shape[1])

        for i in range(self.n_iter):
            h = X_.dot(W)
            diff = (h-Y)
            gradient = self.alpha *(X_.T.dot(diff))/X.shape[0]
            W = W - gradient
        self.coef_ = W[1:]
        self.bias = W[0]
    def predict(self, X):
        X = np.array(X, dtype = float)

        if X.ndim == 1:
            X = X.reshape(1,-1)

        if self.normalize:
            
            X = (X - self.mean_)/self.std_
        #X = np.c_[np.ones(X.shape[0], X)]
        predicted = np.dot(X, self.coef_) + self.bias
        return np.round(predicted, 5)

In [160]:
model = LinearRegression1()

In [162]:
model.fit(X,y)

In [163]:
model.coef_

array([11341.6889984 , -1274.18127327])

In [166]:
model.predict([[2020, 22342]])

array([60681.3847])